<div class="signupLoginEditLayout">
  <div class="row">
    <h2>Edit a box</h2>
  </div>
  <div>
    <form action="/profile/{{ box._id }}" method="POST">
  </div>
  <div class="row">
    <label for="name">What's in the box</label>
  </div>
  <div class="row">
    <input id="name" type="text" name="name" value="{{ box.name }}" class="input">
  </div>
  <div class="row">
    <label for="description">Description</label>
  </div>
  <div class="row">
    <input id="description" type="text" name="description" value="{{ box.description }}" class="descrInput">
  </div>
  <div class="row">
    <label for="address">Address</label>
  </div>
  <div class="row">
    <input id="address" type="text" name="address" value="{{ box.address }}" class="input">
  </div>
  </select>

  <button type="submit" class="button">Update</button>
  </form>
</div>
