<h2>Edit a box</h2>
<form action="/profile/{{ box._id }}" method="POST">
  <label for="name">What's in the box</label>
  <input id="name" type="text" name="name" value="{{ box.name }}">

  <label for="description">Description</label>
  <input id="description" type="text" name="description" value="{{ box.description }}">

  <label for="address">Address</label>
  <input id="address" type="text" name="address" value="{{ box.address }}">

  </select>

  <button type="submit">Update</button>
</form>
