
<h2>adding a new box</h2>
{{!--#with moviesInDB--}}
<form action="/form" method="POST">
	<label for="name">name: </label>
	<input type="text" id="name" name="name" value="name">

	<label for="description">description: </label>
	<input type="text" id="description" name="description" value="description">

	<label for="address">address: </label>
	<input type="text" id="address" name="address" value="address">

    
	<button type="submit">add a box</button>
</form>
{{!--/with--}}