<h2>Add a box</h2>
<form action="/form" method="POST">
    <label for="name">What's in the box</label>
	<input type="text" id="name" name="name" placeholder="e.g. A book">

	<label for="description">Description</label>
	<input type="text" id="description" name="description" placeholder='e.g. "Homo Deus" written by Yuval Noah Harari, great condition'>
    
    <label for="address">Address</label>
	<input type="text" id="address" name="address">

	<button type="submit">Add this box and share</button>
</form>