<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />

<h1>{{title}} 🚀</h1>
<p>Welcome Ironhacker!</p>

<body>
	<div id='map' style='width: 1000px; height: 100vh;'></div>
    <!-- <nav>
        <a href="/about" id="aboutLink">About</a>
    </nav> -->
	<!-- a list of added boxes which will be dynamic (?)-->
{{#each boxesList}}
    <p>{{name}}</p>
	<p>{{description}}</p>
	<p>{{address}}</p>
{{/each}} 
	<div id="signUpLogIn">
		<div id="grad1">
    	<h2>If you want to <span id="addBox">add a box </span><a href="/signup" id="signUpLink">Sign Up</a> if it's your first time or <a href="/login" id="logInLink"> Log In</a> if you've done it before</h2>
		</div>
	</div>
