<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />

	<div id="footer">
        <div class="popup" onclick="myFunction()"><h2>About</h2>
	        <span class="popuptext" id="myPopup">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam accumsan iaculis nisi sit amet aliquam. Etiam a volutpat dui. Maecenas eget felis sed magna consectetur 
            convallis sed id sapien. Donec varius massa sit amet nulla facilisis porttitor. Integer aliquam justo id ante condimentum tempor. Vivamus at pharetra risus. Donec tortor dolor, tempus quis dui vehicula, 
            vehicula fringilla felis. Nunc at.</span>
        </div>
        
    	<h3 id="bottomText">If you want to <span id="addBox">add a box </span><a href="/signup" id="signUpLink">Sign Up</a> if it's your first time or <a href="/login" id="logInLink"> Log In</a> if you've done it before</h3>
        <a href="/profile" id="yourBoxLink">Your box</a>
	</div>
    
    <script src="/js/mapbox.js"></script>
    
