<script src=“https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js”></script>
    <div id="mapAndData">
        <div id='map' style='width: 70vw; height: 100vh;'></div>
        <div id="dataView">
            <div id="dataList">
            {{#each boxesList}}
                <h2>{{name}}</h2>
	            <p>{{description}}</p>
	            <p>{{address}}</p>
                <hr></hr>
            {{/each}} 
            </div>
        </div>
    </div>

	<div id="footer">
        <div class="popup" onclick="myFunction()"><h2>About</h2>
	        <span class="popuptext" id="myPopup">Welcome to (name of the website)! You must have stumbled upon “zu verschenken” boxes on the 
                streets of Berlin before. Or furnitures, they don’t always come in a box. It’s a great way to save money and be more sustainable! 
                We want to help people to see what is on the streets without having to walk across the whole city. If you want to add your box/items 
                to give away, please either sign up or log-in. You can also edit or delete the items, if some or all have been taken. If you spot 
                such treasures wherever you are in the city, you can also add them! Sharing is caring. The boxes/items will disappear from the map 
                one day after creation/last update, as we cannot track the status of each. So be fast!
                Got stuff to give away?<br> Sign up today!</br>
        </div>
        <div>
    	    <h3 id="bottomText">If you want to <span id="addBox">add a box </span><a href="/signup" id="signUpLink">Sign Up</a> if it's your first time or <a href="/login" id="logInLink"> Log In</a> if you've done it before</h3>
        </div>
        <div>
            <a href="/profile" id="viewYourBoxLink">View your boxes</a>
        </div>
        <div>
            <a href="/logout" id="logoutLink">Logout</a>
        </div>
	</div>   
    
    <script src="/js/mapbox.js"></script>
    
