body {
  margin: 0;
  font: 14px 'Comfortaa', cursive;
  background-color: rgb(167, 167, 162);
  color: white;
}

#signUpLink {
  color: rgb(114, 247, 236);
  text-decoration: none;
  font-size: 130%;
}

#logInLink {
  color: rgb(253, 45, 218);
  text-decoration: none;
  font-size: 130%;
}

  #addBox {
    color: white
  }

  #footer {
    height: 6vh;
    background: rgb(90, 90, 90); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
    color: white;
    padding: 1%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#mapAndData {
  display: flex;
  flex-direction: row;
}

#dataView {
    position: fixed;
    margin-left: 69.4vw;
    top: 0;
    left: 10px;
    bottom: 0px;
    width: 29vw;
    overflow-y: scroll;
    height: 90vh;
    background-color: rgb(161, 66, 153);
    /* border-radius: 10%; */
}

#dataList {
  margin-left: 30px;
  margin-right: 30px;
  color: white
}

/* Popup container */
.popup {
  display: inline-block;
  cursor: pointer;
  margin-left: 70px; 
  position: absolute;
  color: white;
  font-size: 0.9rem;
}

/* The actual popup (appears on top) */
 .popup .popuptext {
  visibility: hidden;
  width: 400px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute; 
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  font-size: 100%;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) - not working */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

#bottomText {
  margin-left: 200px;
  font-size: 1.2rem;
}

#viewYourBoxLink {
  color: white;
  text-decoration: none;
  margin-left: 30px;
  font-size: 1.2rem;
}

#logoutLink {
  color: white;
  text-decoration: none;
  margin-right: 70px;
  padding: 30px;
  font-size: 1.2rem;
}

#profileSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  margin-top: 30px;
  margin: 10px;
  background-color: rgb(161, 66, 153);
  padding: 20px 20px;
  border-radius: 10px;
}

#editDeletePosition {
  display: flex;
  flex-direction: flex;
  align-items: row;
}

.signupLoginEditLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.row {
  padding: 10px;
  font-size: 1rem;
}

.input {
  height: 40px;
  width: 300px;
  border-radius: 10px;
  border: none;
}

.descrInput {
  height: 40px;
  width: 800px;
  border-radius: 10px;
  border: none;
}

.button {
  padding: 30px;
  font: 14px 'Comfortaa', cursive;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: rgb(161, 66, 153);
  border: none;
}

#box {
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 10px;
}

